<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnkasun.patch_matcher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patch_Matcher">
        <activity
            android:name=".CampaignActivity"
            android:screenOrientation="landscape"
            android:exported="true" />
        <activity
            android:name=".TutorialActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EvaluationActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>